* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    width: 30rem;
    background-color: grey;
    height: 80vh;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
}

.input-form {
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
    margin-top: 2rem;
}

/* TASK INPUT */

.task-input {
    border: none;
    border-radius: 10px;
    padding: .5rem;
    background-color: #fff;
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
}

::placeholder {
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
}

/* ADD TASK BUTTON */

.add-task {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    padding: .5rem;
    cursor: pointer;
    font-weight: bolder;
    margin-left: .5rem;
}

.task-list {
    padding-top: 2rem;
    min-width: 20rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.task-div {
    padding: .3rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.task-input {
    padding: .25rem .5rem;
    flex: 1;
    font-weight: bolder;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    border-radius: 5px;
    min-width: 18rem;
}


/* BUTTONS */
.check-btn,
.delete-btn,
.edit-btn {
    cursor: pointer;
    border: none;
    margin-left: .25rem;
    border-radius: 5px;
    padding: .25rem;
    font-weight: bolder;
    font-size: 1.25rem;
}

.check-btn {
    background-color: rgba(94, 245, 162);
}

.check-btn:hover {
    box-shadow: 0 0 10px 0 rgba(94, 245, 162);
}

.edit-btn {
    background-color: rgb(197, 228, 84);
}

.edit-btn:hover {
    box-shadow: 0 0 10px 0 rgba(197, 228, 84)
}

.delete-btn {
    background-color: red;
    color: #fff;
}

.delete-btn:hover {
    box-shadow: 0 0 10px 0 red;
}

.bx-eraser,
.bx-check,
.bx-edit {
    pointer-events: none;
    padding: .2rem;
}

.bx-eraser,
.bx-check,
.bx-edit:hover {
    box-shadow: 0z;
}

/* TASK DONE */
.task-done {
    text-decoration: line-through;
    color: red;
}

/* TASK EDIT */
.task-edit {
    color: red;
}