@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background-color: #1f0000;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    height: 100vh;
}

.title-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.title,
.title-icon {
    color: #fff;
}

.title-icon {
    font-size: 40px;
    margin-left: 1rem;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 
    inset 0 0 30px #fff,     
    inset 5px 0 30px rgb(175, 168, 175),   
    inset -5px 0 30px rgb(204, 198, 204);
    background-color: rgba(255, 255, 255, 0.25);
}

.input-form {
    display: flex;
    justify-content: space-evenly;
    width: 25.2rem;
    margin-top: 1rem;  
    position: sticky;
    top: 0;
}


/* TASK INPUT */

.task-input {
    border: none;
    border-radius: 10px;
    padding: .5rem;
    background-color: #fff;
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
}

::placeholder {
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
}


/* ADD TASK BUTTON */

.add-task {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    padding: .5rem;
    cursor: pointer;
    font-weight: bolder;
    margin-left: .5rem;
}

.task-list {
    padding-top: 2rem;
    min-width: 20rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.task-div {
    padding: .3rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.task-input {
    padding: .25rem .5rem;
    flex: 1;
    font-weight: bolder;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    color: 0px 0px 5px 2px rgba(90, 90, 90, 0.822);
    border-radius: 5px;
    min-width: 18rem;
}


/* BUTTONS */

.check-btn,
.delete-btn,
.edit-btn {
    cursor: pointer;
    border: none;
    margin-left: .25rem;
    border-radius: 5px;
    padding: .25rem;
    font-weight: bolder;
    font-size: 1.25rem;
}

.check-btn {
    background-color: rgba(94, 245, 162);
}

.edit-btn {
    background-color: rgb(197, 228, 84);
}

.delete-btn {
    background-color: red;
    color: #fff;
}

.bx-eraser,
.bx-check,
.bx-edit {
    pointer-events: none;
    padding: .2rem;
}


/* TASK DONE */

.task-done {
    text-decoration: line-through;
}

input.placeholder-error {
    background-color: red;
    color: white;
}

input.placeholder-error::placeholder {
    color: white;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    margin:10rem;
}

::-webkit-scrollbar-thumb {
    background-color: #1f0000;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border-radius: 10px;
}


@media screen and (max-width : 500px) {
    .input-form {
        max-width: 30% !important;
    }

    .add-task {
        min-width: fit-content;
    }

    .task-div {
        max-width: 10% !important;
    }
}